@model BaitapLon.Models.DonHang
@{
	List<DanhMuc> dm = (List<DanhMuc>)ViewData["DanhMuc"];
	User user = (User)ViewData["User"];
}
<div class="header-top">
	<div class="container">
		<div class="row">
			<!-- HEADER-LEFT-MENU START -->
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="header-left-menu">
					<nav>
						<ul class="list-inline">
							@if (user == null)
							{
								<li><a href=@Url.ActionLink("Login","Users") style="color:#ffffff">Dang nhap</a></li>
							}
							else
							{
								@if (user.Admin == 1)
								{
									<li><a href=@Url.ActionLink("QLDonHangAD","QLDonHang") style="color:#ffffff">Quan ly don hang</a></li>
									<li><a href=@Url.ActionLink("Index","QLSanPham") style="color:#ffffff">Quan ly san pham</a></li>
									<li><a href=@Url.ActionLink("Logout","Users") style="color:#ffffff">Dang xuat</a></li>
								}
								@if (user.KhachHang == 1)
								{
									<li><a style="color:#ffffff">Quan ly don hang</a></li>

									<li><a href=@Url.ActionLink("Logout","Users") style="color:#ffffff">Dang xuat</a></li>
								}
							}
						</ul>
					</nav>
				</div>
			</div>
			<!-- HEADER-LEFT-MENU END -->

		</div>
	</div>
</div>
<header class="main-menu-area">
	<div class="container" style="margin-left:-15px">
		<div class="row">
			<!-- SHOPPING-CART START -->
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right shopingcartarea" style="padding-left:-20px">
				<div class="shopping-cart-out pull-right">
					<div class="shopping-cart" style="margin-right:20px">
						<a class="shop-link" href=@Url.ActionLink("Index","Cart") title="View my shopping cart">
							<i class="fa fa-shopping-cart cart-icon"></i>
							<b>My Cart</b>
							<span></span>
						</a>

					</div>
				</div>
			</div>
			<!-- SHOPPING-CART END -->
			<!-- MAINMENU START -->
			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 no-padding-right menuarea">
				<div class="mainmenu">
					<nav>
						<ul class="list-inline mega-menu">
							<li class="active">
								<a href=@Url.ActionLink("Index","SanPhams")>Home</a>
							</li>
							@foreach (DanhMuc o in dm)
							{
								<li class="active">
									<a href=@Url.ActionLink("DanhMucDetail","SanPhams", new {id = o.ID})>@o.TenDanhMuc</a>
								</li>
							}
						</ul>
					</nav>

				</div>
			</div>
			<!-- MAINMENU END -->
		</div>

	</div>
</header>
<section class="main-content-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<!-- PERSONAL-INFOMATION START -->
				<div class="personal-infomation">
					<form class="primari-box personal-info-box" id="personalinfo" method="post" asp-action="ThanhToan">
						<h3 class="box-subheading">Your personal information</h3>
						<div class="personal-info-content">
							
							<div class="form-group primary-form-group p-info-group">
								<label>Ho Ten<sup>*</sup></label>
								<input name="TenKhachHang"  class="form-control input-feild">
							</div>
							<div class="form-group primary-form-group p-info-group">
								<label >So Dien Thoai <sup>*</sup></label>
								<input name="SDT" class="form-control input-feild">
							</div>
							<div class="form-group primary-form-group p-info-group">
								<label>Dia Chi<sup>*</sup></label>
								<input name="DiaChi" class="form-control input-feild">
							</div>
							<div class="form-group primary-form-group p-info-group">
								<label >Tong Tien</label>
								<input name="TongTien" value="@ViewData["TongTien"]"class="form-control input-feild">
							</div>
							
							<div class="submit-button p-info-submit-button">
								<input type="submit" value="Thanh Toan">
							</div>
						</div>
					</form>
				</div>
				<!-- PERSONAL-INFOMATION END -->
			</div>
		</div>
	</div>
</section>